header {
    background-color: black;
    color: grey;
    padding: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;   
    margin: 40px auto;  
    padding: 20px;
}

li {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 20px 0 0 0;
}

li button {
    margin-left: auto;
}

li input[type="checkbox"] {
    margin-right: auto;
}

#taskButton {
    border-radius: 5px;
    padding: 5px;
    /* border: 0; */
    background-color: blue;
    color: white;
    border-color: blue;

}

form {
    margin-top: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 5px;
    margin-right: 10px;
    /* box-sizing: border-box;  */

}

input[type="checkbox"] {
    margin-right: 50px;

}

.deleteButton {
    background-color: white;
    border: 0;

}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}